@import "bootstrap";

@font-face {
  font-family: 'Rouge Script';
  font-style: normal;
  font-weight: 400;
  src: local('Rouge Script'), local('RougeScript-Regular'), url(http://themes.googleusercontent.com/static/fonts/rougescript/v2/AgXDSqZJmy12qS0ixjs6V4nF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

a:hover {
  color: #000000;
  font-weight: bold;
}

a{
  color: inherit;
}

pre {
  height: auto;
  text-align: justify;
  overflow: hidden;
  /* word-break: normal; */
  /* word-wrap: break-word; */
  white-space: pre-line;
  font-family: 'Arima Madurai';
  font-size: 20px;
  color: #020a2c;
  /* max-width: 102%; */
}

.jumbotron {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.main {
  min-height: 100%;
  position: relative;
  padding-bottom: 80px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

footer {
  position: absolute;
  bottom: auto;
  width: 100%;
  height: 60px;
  font-weight: bold;
  text-align: center;

  .container {
    padding-top: 20px;
  }
}

.footer-text{
  color: rgb(2, 10, 44);
}

.background{
  background-image: url('background.png');
  background-repeat: repeat-y;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 25em;
  position: fixed;
  right: 0;
  top: 0;
  background-size: 100%;
}

.title{
  text-align: center;
  position: relative;
  //font-family: 'Rouge Script';
  font-family: 'Alex Brush';
  font-size: 100px;
  //color: black;
  color: #1D3A77;
}

.sub-title{
  text-align: center;
  position: relative;
  font-family: 'Amaranth';
  font-size: 20px;
  // color: black;
  color: rgb(2, 10, 44);
  padding: 10px;
}

.body-content{
  top: 10px;
  text-align: center;
  max-width: 73%;
  position: relative;
}

.card{
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
    max-width: 90%;
}

.navbar {
  width: 72%;
  margin: 10px auto;
  border-radius: 5px;
  // border: 1px solid rgba(40, 193, 218, 0.55);
   background-color: rgba(12, 203, 236, 0.16);
 // background-color: #41BABA;
}

.nav-item.nav-link.custom{
  //color: black;
  color: rgb(2, 10, 44);
  text-align: center;
  font-size: 17px;
  font-family: 'Arima Madurai';
}

.navbar-toggler.custom{
  margin-left: 45%
}

.body-border{
  border: 1px solid #F18724;
  border-radius: 5px;
  padding: 20px;
}

.header-border{
  border: 0px solid rgb(252, 133, 54);
  border-radius: 5px;
  padding: 20px;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 1%;
}
.camila-font{
  font-family: 'Amaranth';
  color: rgba(49, 197, 223, 0.973);
}

.erick-font{
  font-family: 'Amaranth';
  color: #F18724;
}

.center-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-title{
  font-family: 'Amaranth';
  color: #1D3A77;
  font-weight: bold;
  text-align: center;
}

.text-sub-title{
  font-weight: bold;
  text-align: center;
}

