<div class="body-border">
  <br>
  <h1>Nosso chá</h1>
  <br><br>
  <div class="card">
  <pre>
  Os chás de Cozinha e Bar acontecerão em meados de Abril e Maio, aguardem para maiores informações.....
  </pre>
  </div>
</div>