<div class="body-border">
  <br>
  <h1>Confirme sua presença</h1>
  <br><br>
  <pre>
  Para confirmar a sua presença no casamento só precisa preencher os campos abaixo e clicar em enviar.
  Caso queira, você também pode nos enviar uma mensagem e/ou pergunta, iremos responder qualquer dúvida 
  que você tiver sobre o nosso casamento. Escreva para nós e chegará diretamente ao nosso email.

  Nos diga se estará presente ou não no casamento. Não sinta vergonha em dizer que não poderá ir, iremos 
  entender, mas você vai querer perder este momento?
  </pre>
  <%= render partial: 'form', locals: { guest: @guest } %>
</div>