<div class="body-border">
  <br>
  <h1 class="text-title">Lista de presentes</h1>
  <br><br>
  <pre>
    Aqui vocês poderão encontrar nossas listas de presentes! Para aqueles que preferem nos presentear em uma loja física:
    <div style="text-align: center;">
      <a href="">Camicado</a> (lista disponível em breve)
      <a href="">Fast Shop</a> (lista disponível em breve)
      <a href="">Preçolândia</a> (lista disponível em breve)
    </div>

    <!-- Para aqueles que preferem nos presentear com um passeio na nossa lua de mel, deixamos aqui embaixo os
    passeios que gostaríamos de fazer, é só selecionar o passeio, entrar em contato com a gente que passaremos a 
    conta para depósito:

    <div class="center-div">
      <div style="text-align: justify">
        Castelo de Blarney - R$ 250,00
        Cliffs of Moher - R$ 250,00
        Destilaria de Old Jameson - R$ 125,00
        Dublinia - R$ 75,00
        Guiness Storehouse - R$ 250,00
        Jameson Distillery Midelton - R$ 250,00
      </div>
    </div> -->
  </pre>
</div>