<div class="body-border">
  <br>
  <h1>Bem Vindos</h1>
  <br><br>
  <pre>
  <b>Seja bem-vindo(a) ao nosso site de casamento!</b>

  Estamos muito felizes em poder compartilhar esse momento com você, por isso estamos preparando um casamento que será mais <b>"legen...wait for it...dary"</b> que o noivado.
  Enquanto o grande dia não chega, criamos esse site com várias sessões para você relembrar momentos, se informar sobre a data e local, e outras coisas. 

  Ah, e um detalhe importante: você pode confirmar a sua presença (para os chás e para o casamento) pelo site. Isso ajudará muito a nossa organização.

  xoxo,
  <b class="camila-font">Camila</b> e <b class="erick-font">Erick</b>.
  </pre>
</div>