<div class="body-border">
  <br>
  <h1>Bem Vindos</h1>
  <br><br>

  <pre>
  Seja bem-vindo(a) ao nosso site de casamento!
  Estamos muito felizes em poder compartilhar esse momento com você, por isso estamos preparando um casamento que será mais "legen...wait for it...dary" que o noivado.

  Enquanto o grande dia não chega, criamos esse site com várias sessões para você relembrar momentos, se informar sobre a data e local, e outras coisas. Mas, por enquanto, estamos guardando algumas informações até tudo estiver 100%, e conforme os meses forem passando e vocês forem recebendo os convites, iremos colocar TODAS as informações aqui! 

  xoxo,
  Camila e Erick.
  </pre>

</div>