<div class="body-border">
  <br>
  <h1>Nossa história</h1>
  <br><br>
  <pre>
  Versão da noiva...
  Era 2013 quando nos conhecemos, estávamos quase sempre juntos na mesma roda de amigos na época, mas nunca trocamos palavras, até que um dia, indo para o shopping almoçar, conversamos pela primeira vez, engraçado que, em todo esse ano de 2013, esse foi o único momento que lembro até hoje vividamente. Sempre me perguntei o porquê de eu só lembrar disso. Em 2016, conversamos por mensagem no Facebook, mas não me lembro dessa conversa até hoje. Em 2017 ele postou uma foto no instagram, alguma coisa nele nessa foto me chamou atenção, não sei se foi a tatuagem ou o rosto...Mas curti, alguns dias depois ele postou uma piada engraçada nos stories do Instagram e eu tive a necessidade de responder, foi aí nesse dia 06/09/2017 que começamos a conversar, ele comentou coisas da nossa conversa de 2016 que eu não lembrava, mas dessa vez, a conversa fluiu. Fluiu tanto que resolvemos sair no dia 24/09/2017, fomos ao cinema e andar na Paulista no domingo, dia de sol e primavera, foi uma tarde muito gostosa. Estávamos já no metrô, eu estava prestes a ir embora, já tinha desistido da ideia de que ele queria me beijar, até que ele o fez. Foi como se eu nunca tivesse beijado antes, foi como se fosse meu primeiro beijo, o primeiro beijo certo.

  Depois disso o resto é história...Veio o pedido de namoro: 18/11/2017, o pedido de casamento: 26/09/2018, o noivado: 18/11/2018....

  Desde o primeiro dia que vi aquela foto que me chamou a atenção parece que eu estou em um filme de romance com final feliz, aquele que os dois vivem felizes e para sempre. Mas claro que vida real não existem só dias felizes, mas quando a gente tem alguém, os dias difíceis se tornam mais leves, a vida se torna mais leve...Tem um filme "Quando nos conhecemos", as coisas acontecem no tempo certo e no tempo que tem que acontecer. Como a gente, que foi ficar junto quatro anos depois que nos conhecemos...

  Versão do noivo...
  [escreva a sua versão mais bonita que a minha, por favor]
  </pre>
</div>