<div class="body-border">
  <br>
  <h1>Nossas memórias</h1>
  <br><br>
  <div class="card">
  <pre>
  Relembre momentos incríveis que passamos juntos!

  O Noivado
  album de fotos

  Os Noivos e os convidados
  album de fotos

  A Noiva e os convidados
  album de fotos

  O Noivo e os convidados
  album de fotos
  </pre>
  </div>
</div>