<div class="body-border">
  <br>
  <h1>Nossas memórias</h1>
  <br><br>
  <pre>
  <div style="text-align: center;">Relembre momentos incríveis que passamos juntos!</div>

  Em construção
  </pre>
</div>