<div class="body-border">
  <br>
  <h1>Nossa história</h1>
  <br><br>
  <pre>
  <div style="text-align: center;"><strong>Versão da noiva</strong></div>

  Era 2013 quando nos conhecemos, estávamos quase sempre juntos na mesma roda de amigos na época, mas 
  nunca trocamos palavras. Até que um dia, indo para o shopping almoçar, conversamos pela primeira vez. 
  Engraçado que, em todo esse ano de 2013, esse foi o único momento que lembro até hoje vividamente, e 
  sempre me perguntei o porquê de eu só lembrar disso. Em 2017 ele postou uma foto no instagram, 
  e alguma coisa nele nessa foto me chamou atenção, não sei o que foi...Mas curti, alguns dias depois ele 
  postou uma piada nos stories do Instagram e eu tive que responder! Foi aí nesse dia 06/09 que começamos 
  a conversar, a conversa fluiu tanto que resolvemos sair no dia 24/09, fomos ao cinema e andar na Paulista 
  no domingo, dia de sol e primavera, foi uma tarde muito gostosa. Estávamos já no metrô, prestes 
  a ir embora, quando nos beijamos pela primeira vez. Foi como se eu nunca tivesse beijado antes, foi como 
  se fosse meu primeiro beijo, o primeiro beijo certo.

  Depois disso o resto é história. Veio o pedido de namoro no mesmo ano, o pedido de casamento e o noivado 
  em 2018 e teremos o casamento nesse ano de 2020.

  Desde o primeiro dia que vi aquela foto que me chamou a atenção parece que eu estou em um filme de 
  romance, aquele que os dois vivem felizes e para sempre. Desde o primeiro dia estamos acumulando 
  memórias incríveis. As coisas acontecem no tempo certo e no tempo que tem que acontecer. 
  Como a gente, que foi ficar junto quatro anos depois que nos conhecemos.

  <div style="text-align: center;"><strong>Versão do noivo</strong></div>
  </pre>
</div>