<div class="body-border">
  <br>
  <h1 class="text-title">O que vestir</h1>
  <br><br>
  <pre>
    <div class="text-sub-title"><strong>Traje:</strong> Esporte Fino.</div>
    <hr style="color: orange;">
    <strong>Mulheres:</strong>

    Como o casamento será a noite, não use saltos anabelas, de cortiça, madeira ou corda. Aposte nos saltos como sandálias, scarpins, ankle boots... mas se você é do time que não gosta de salto ou simplesmente não está afim de usá-lo no dia, sapatilhas e tênis/sneakers são bem-vindos. Caso opte por levar um chinelo/rasteirinha, use-o apenas na hora da festa, depois do jantar.

    Como o traje é esporte-fino (semi-formal), você não precisa se desesperar para achar um vestido longo, pode usar um vestido curto, midi ou com comprimento no joelho. Se não quiser usar vestido, pode usar saia, calça, pantacourt.... Você pode complementar o look usando um blazer e/ou terno. 
    Use tecidos com brilho, metalizados, rendados, lisos, de veludo, estampados ou não... O que você quiser que te fará sentir linda.</p>

    <strong>Não</strong> vá de jeans!

    Neste link você pode encontrar inspirações de roupas do que usar no dia em vários estilos diferentes: <strong><a href="https://br.pinterest.com/braganholic/o-que-vestir/convidadas/">Convidadas</a>.</strong>

    <hr>
    <strong>Homens:</strong>

    Você pode usar terno ou paletó. Caso não queira, tudo bem ir de camisa social/polo/camiseta com uma calça (pode ser jeans) e, se quiser, complementar só com um blazer ou terno. Gravatas são bem-vidas. Já nos pés use sapato social, sapatênis ou tênis/sneaker.

    <strong>Não</strong> vá de regata!

    Neste link você pode encontrar inspirações de roupas do que usar no dia em vários estilos diferentes: <strong><a href="https://br.pinterest.com/braganholic/o-que-vestir/convidados/">Convidados</a>.</strong>

    <hr>
    <strong>Para todos:</strong>

    <strong>Deixe o branco</strong> e suas variações <strong>para a noiva.</strong>

    <strong>Não</strong> vá de bermuda, shorts e chinelo. Não garantimos que você conseguirá entrar com este tipo de vestimenta. As crianças também seguem este padrão. Apenas os homens será permitido a entrada com jeans.

    Pais, padrinhos, madrinhas e daminhas irão seguir o dresscode previamente acordado com os noivos.

    Para este grande dia, queremos que todos se sintam bem e bonitos, dispostos a aproveitarem cada segundo. Então vá com o que se sinta à vontade, tudo é questão de equilíbrio e bom senso. 
        
    Qualquer dúvida entre em contato com a gente.
  </pre>
</div>